-luci-app-cpufreq
htop
luci-app-argon-config
luci-app-aria2
luci-app-commands
luci-app-ddns
luci-app-fileassistant
luci-app-filetransfer
luci-app-firewall
luci-app-frpc
luci-app-gowebdav
luci-app-n2n_v2
luci-app-netdata
luci-app-nlbwmon
luci-app-nps
luci-app-openclash
luci-app-passwall
luci-app-samba
luci-app-serverchan
luci-app-smartdns
luci-app-softethervpn
luci-app-ssr-plus
luci-app-transmission
luci-app-ttyd
luci-app-webadmin
luci-app-wireguard
luci-app-wrtbwmon
luci-app-zerotier
luci-base
luci-compat
luci-i18n-argon-config-zh-cn
luci-i18n-aria2-zh-cn
luci-i18n-base-zh-cn
luci-i18n-commands-zh-cn
luci-i18n-ddns-zh-cn
luci-i18n-filetransfer-zh-cn
luci-i18n-firewall-zh-cn
luci-i18n-frpc-zh-cn
luci-i18n-gowebdav-zh-cn
luci-i18n-n2n_v2-zh-cn
luci-i18n-netdata-zh-cn
luci-i18n-nlbwmon-zh-cn
luci-i18n-nps-zh-cn
luci-i18n-passwall-zh-cn
luci-i18n-samba-zh-cn
luci-i18n-smartdns-zh-cn
luci-i18n-softethervpn-zh-cn
luci-i18n-ssr-plus-zh-cn
luci-i18n-transmission-zh-cn
luci-i18n-ttyd-zh-cn
luci-i18n-turboacc-zh-cn
luci-i18n-webadmin-zh-cn
luci-i18n-wireguard-zh-cn
luci-i18n-wrtbwmon-zh-cn
luci-i18n-zerotier-zh-cn
luci-theme-argonv3
luci-theme-material
ariang
coremark
ddns-scripts
ddns-scripts_aliyun
ddns-scripts_cloudflare.com-v4
ddns-scripts_cnkuai_cn
ddns-scripts_digitalocean.com-v2
ddns-scripts_dnspod
ddns-scripts_freedns_42_pl
ddns-scripts_godaddy.com-v1
ddns-scripts_no-ip_com
ddns-scripts_nsupdate
ddns-scripts_route53-v1
iperf
libcap
libcap-bin
rsync
rsyncd
bind-dig
bind-host
openssh-sftp-client
openssh-sftp-server
xl2tpd
ppp-mod-pptp
bsdtar
bzip2
gzip
unzip
lsblk
lscpu
nano
vim-full
zsh
screen
tmate
tmux
tree
whereis